.formulario-container {
  color: #fff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Old Standard TT", serif;
}
.titulo-contacto {
  font-family: monospace;
  text-transform: uppercase;
  text-decoration: underline;
  font-size: small;
  max-width: 100%;
}
.form-create {
  background-color: rgb(41, 40, 40);
  color: #fff;
}
.animated-text {
  font-size: 5rem;
  background: linear-gradient(90deg, rgb(0, 0, 0), rgb(121, 120, 120)) 0 0/ 400%
    100%;
  animation: move-bg 4s infinite linear;
  color: white;
  background-clip: text;
}
@keyframes move-bg {
  to {
    background-position: 100% %100;
  }
}
.text-start {
  max-width: 100%;
}
.label-form {
  max-width: 100%;
}
