* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  overflow: auto;
}

header .navbar {
  background-color: #515a5a;
  padding: 0;
  margin: 0;
}
.footer {
  background-color: #515a5a;
  margin: 0;
}
.carta {
  color: black;
}
.section1 {
  color: white;
}
.sec-ubi {
  background-color: black;
}
.ubis {
  border: solid 5px #fff;
  color: orange;
}
.galeria-lugares {
  background-color: orange;
  color: black;
}
.galeria-container {
  background-color: #000;
  background-size: cover;
  background-position: center;
  display: grid;
  padding: 1%;
  max-width: 100%;
  gap: 5px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.img-show {
  grid-area: auto;
  background-image: url(./images/show.jpg);
  height: 300px;
  width: 300px;
  background-size: cover;
  background-position: center;
}
.img-show2 {
  grid-area: auto;
  background-image: url(./images/show2.jpg);
  height: 300px;
  width: 300px;
  background-size: cover;
  background-position: center;
}
.img-show3 {
  grid-area: auto;
  background-image: url(./images/show3.jpg);
  height: 300px;
  width: 300px;
  background-size: cover;
  background-position: center;
}
.img-trago1 {
  grid-area: auto;
  background-image: url(./images/trago1.jpg);
  height: 300px;
  width: 300px;
  background-size: cover;
  background-position: center;
}
.img-meri {
  grid-area: auto;
  background-image: url(./images/merienda.png);
  height: 300px;
  width: 300px;
  background-size: cover;
  background-position: center;
}
.img-postre1 {
  grid-area: auto;
  background-image: url(./images/postre1.jpg);
  height: 300px;
  width: 300px;
  background-size: cover;
  background-position: center;
}
.img-tuc {
  grid-area: auto;
  background-image: url(./images/tucuman.jpg);
  height: 300px;
  width: 300px;
  background-size: cover;
  background-position: center;
}
.img-lafav {
  grid-area: auto;
  background-image: url(./images/lafav.jpg);
  height: 300px;
  width: 300px;
  background-size: cover;
  background-position: center;
}
main.row.rowover {
  align-items: center;
  text-align: center;
}
.container-contactos {
  background-color: #000;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}
.formulario-container {
  color: #fff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Old Standard TT", serif;
}
.row {
  align-items: center;
  text-align: center;
}
.form-create {
  background-color: rgb(41, 40, 40);
  color: #fff;
}
