* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  overflow: auto;
}

header .navbar {
  background-color: #515a5a;
  padding: 0;
  margin: 0;
}
.footer {
  background-color: #515a5a;
  margin: 0;
}
.carta {
  color: black;
}
.section1 {
  background-image: url(/images/fondo-pared.jpg);
  color: white;
}
.contacto {
  color: black;
}
